<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="javax.persistence.jdbc.driver">org.postgresql.Driver</property>
        <property name="javax.persistence.jdbc.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="javax.persistence.jdbc.user">postgres</property>
        <property name="javax.persistence.jdbc.password">postgres</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <mapping class="br.com.tavaresdu.model.HashUri" />
    </session-factory>
</hibernate-configuration>